body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

br{
  content: " "
  
}

button{
  border: 5px, solid #000;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(223, 223, 223);
}

#check:active{
  background-color: black;
  color: white;
}

#check{
  border: 5px, solid #000;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(223, 223, 223);
}

#input{
  border: 5px, solid rgb(0, 0, 0);
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(223, 223, 223);
}

button:hover{
  background-color: black;
  color: white;  
}

.st {
  position: absolute;
  display: table;
  text-align: center;
  margin-bottom: 0 auto;
  top: 45%;
  opacity: 0;
  border: 5px solid #000;
  font-size: smaller;
  width: 160px;
  height: auto;
  padding-bottom: 10px;
  left: 43%;
  transform: translate(-43%, 0);
}

.dfh {
  position: absolute;
  display: con;
  text-align: center;
  margin-bottom: 0 auto;
  top: 45%;
  opacity: 0;
  border: 5px solid #000;
  font-size: smaller;
  width: 160px;
  height: auto;
  padding-bottom: 10px;
  left: 57%;
  transform: translate(-57%, 0);
}

.nav-bar {
  background: radial-gradient(#17ffff 0%, #071556 100%);
  width: 200%;
  height: auto;
  text-align: center;
  overflow: hidden;
  border-bottom: 0px solid #000;
  border-left: 0px solid #000;
  border-right: 0px solid #000;
  border-top: 10px solid #000;
  position: fixed;
  bottom: 0;
  left: 1%;
  transform: translate(-1%, 0);
}

.nav-bar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar h1{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav-bar a:hover {
  background: #f1f1f1;
  color: black;
}

.nav-bar a.active {
  background-color: #d61212;
  color: white;
}

.ysb{
  font-size: 25px;
  width: 300px;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.ysb2{
  font-size: 25px;
  width: 200px;
  position: absolute;
  left: 5%;
  top: 40%;
  transform: translate(-5%, -50%);
  text-align: center;
}