body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

br{
  content: " "
  
}

button{
  border: 5px, solid #000;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(223, 223, 223);
}

#check:active{
  background-color: black;
  color: white;
}

#check{
  border: 5px, solid #000;
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(223, 223, 223);
}

#input{
  border: 5px, solid rgb(0, 0, 0);
  border-radius: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: rgb(223, 223, 223);
}

button:hover{
  background-color: black;
  color: white;  
}

.st {
  display: table;
  position: absolute;
  text-align: center;
  margin: 0;
  left: 8.25in;
  top: 35%;
  opacity: 0;
  border: 5px solid #000;
  font-size: smaller;
  width: 125px;
  height: auto;
  padding-bottom: 10px;
}

.dfh {
  display: table;
  position: absolute;
  text-align: center;
  margin: 0;
  left: 6.25in;
  top: 35%;
  opacity: 0;
  border: 5px solid #000;
  font-size: smaller;
  width: 125px;
  height: auto;
  padding-bottom: 10px;
}
